video {
  width: 100%;
  max-height: 100%;
}

.cards .card__content {
  transition: all 0.2s;
}

.cards:hover .card__content {
  transform: translateY(-5%);
}

.cards .card__content .card__header {
  transition: all 0.2s;
}

.cards:hover .card__content .card__header {
  color: rgb(67, 61, 148);
}
/* .card:link .card__content,
.card:visited .card__content {
    transition: all 0.4s;
}

.card:link .card__content,
.card:visited .card__content{
    position: absolute;
    top: 10px;
} */
