.tooltips {
  position: relative;
  display: inline-block;
  color: black;
  font-weight: 700;
  opacity: 1;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

.tooltips span {
  cursor: pointer;
}

.tooltips:hover {
  color: rgb(67, 61, 148);
}

/* Tooltip text */
.tooltips .tooltiptext {
  visibility: visible;

  background-color: white;
  color: black;
  text-align: start;
  width: 810px;
  padding: 0px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 50px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptext {
  visibility: visible;
}

.link__panel {
  transform: rotate(0);
  /* to scope stretched-link */
  align-items: center;
}

.topic__heading {
  font-weight: 600 !important;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 1rem 0;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.1rem;
  font-weight: normal;
}

.platform__link:link,
.platform__link:visited {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1.1rem;
  transition: all 0.1s;
}

.platform__link:hover,
.platform__link:active {
  color: rgb(67, 61, 148);
}

.link__panel {
  background-color: white;
  transition: all 0.7s;
}

.link__panel:hover {
  background-color: skyblue;
}

.first-column {
  flex-basis: 25%;
}

.text__link-underline:link,
.text__link-underline:visited {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.1s;
  display: inline-block;
  margin-bottom: 0.4rem;
}

.text__link-underline:hover,
.text__link-underline:active {
  text-decoration: underline;
}

.text__link-underline:link svg,
.text__link-underline:visited svg {
  transition: all 0.1s;
}

.text__link-underline:hover svg,
.text__link-underline:active svg {
  transform: translateX(20%);
}

.link__list {
  list-style: none;
  padding-left: 0;
}
