.tooltips {
  position: relative;
  display: inline-block;
  color: black;
  font-weight: 700;
  opacity: 1;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

.tooltips span {
  cursor: pointer;
}

.tooltips:hover {
  color: rgb(67, 61, 148);
}

/* Tooltip text */
.tooltips .tooltiptext {
  visibility: visible;

  background-color: white;
  color: black;
  text-align: start;
  width: 810px;
  padding: 0px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 35px;
  left: -5px;
}

.tooltips .tooltiptext--company {
  width: 600px;
}

.tooltips .tooltiptext--resources {
  width: 740px;
}

.tooltips .tooltiptext--customers {
  width: 740px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptext {
  visibility: visible;
}

.link__panel {
  transform: rotate(0);
  /* to scope stretched-link */
  background-color: white;
  transition: all 0.7s;
}

.link__panel:hover {
  background-color: skyblue;
}

.platform__link:link,
.platform__link:visited {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.1s;
  display: block;
  margin-bottom: 0.4rem;
}

.platform__link:hover,
.platform__link:active {
  color: rgb(67, 61, 148);
}

.topic__heading {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 1rem 0;
  margin-bottom: 1rem;
}

.topic__heading--noupper {
  font-weight: 700;
  font-size: 1.6rem;
  /* letter-spacing: 1px; */
  /* text-transform: uppercase; */
  margin: 1rem 0;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  font-weight: normal;
}

.first-column {
  flex-basis: 25%;
}

.link__list {
  list-style: none;
  padding-left: 0;
}
