

.menu__list {
    list-style: none;
    
}

.list-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 1.2rem 2.5rem;
    color: black;
    cursor: pointer;
    font-weight: 500;

}