.tooltips-usecase {
  position: relative;
  display: inline-block;
  color: black;
  font-weight: 700;
  opacity: 1;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

.tooltips-usecase span {
  cursor: pointer;
}

.tooltips-usecase:hover {
  color: rgb(67, 61, 148);
}

/* Tooltip text */
.tooltips-usecase .tooltiptext-usecase {
  visibility: visible;

  background-color: white;
  color: black;
  text-align: start;
  width: 740px;
  padding: 0px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 35px;
  left: -5px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips-usecase:hover .tooltiptext-usecase {
  visibility: visible;
}

.first-column {
  flex-basis: 33.33%;
}

.second-column {
  flex-basis: 33.33%;
}

.third-column {
  flex-basis: 33.33%;
}
