.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.heading-special {
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.heading-primary {
  font-size: 4.0rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.heading-secondary {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.heading-tertiary {
  font-size: 2.0rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.content__body,
.card__body {
  font-size: 2rem;
  font-weight: 350;
}

.text__link-underline:link,
.text__link-underline:visited {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
  transition: all 0.1s;
  display: inline-block;
  margin-bottom: 0.4rem;
}

.text__link-underline:hover,
.text__link-underline:active {
  text-decoration: underline;
}

.text__link-underline:link svg,
.text__link-underline:visited svg {
  transition: all 0.1s;
}

.text__link-underline:hover svg,
.text__link-underline:active svg {
  transform: translateX(20%);
}

.text__link-underline--normal:link,
.text__link-underline--normal:visited {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.1s;
  display: inline-block;
  margin-bottom: 0.4rem;
}

.text__link-underline--normal:hover,
.text__link-underline--normal:active {
  text-decoration: underline;
}

.text__link-underline--normal:link svg,
.text__link-underline--normal:visited svg {
  transition: all 0.1s;
}

.text__link-underline--normal:hover svg,
.text__link-underline--normal:active svg {
  transform: translateX(20%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  font-size: 62.5%;
}

@media (min-width: 1399.98px) {
  html {
    font-size: 62.5%;
  }
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  html {
    font-size: 62.5%;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  html {
    font-size: 62.5%;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  html {
    font-size: 62.5%;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  html {
    font-size: 62.5%;
  }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  html {
    font-size: 62.5%;
  }

  .heading-special {
    font-size: 3.5rem;
  }
}
